body {
    background: salmon;
}

#author_pics {
    animation: mover 3s linear infinite;
  }

.about_author {
    background: violet;
    position: relative;
    top: 50%;
    rigth: 50%;
    width: 400px;
}
