body {
    background: salmon;
}

#author_pics {
   width: 50%;
   heigt: 100px;
  }

.about_author {
    background: violet;
    position: relative;
    top: 50%;
    rigth: 50%;
    width: 400px;
}
