body {
    background: salmon;
}

#author_pics {
   width: 50%;
   height: 50%;
  }

.about_author {
    background: rgb(17, 17, 148);
    position: relative;
    top: 50%;
    right: 50%;
    width: 400px;
}
